<header class="grid grid-flow-col py-5 px-20">
	<app-logo routerLink="/" class="text-black dark:text-white"></app-logo>
	<!--	<div class="bg-error w-5 h-5 self-center justify-self-start"></div>-->
	<nav
		class="hidden md:grid justify-self-end self-center grid-flow-col auto-cols-auto gap-10"
	>
		<a
			routerLink="/downloads"
			routerLinkActive="text-primary"
			class="self-center"
			i18n
		>Downloads</a
		>
		<a
			routerLink="/login"
			class="self-center"
			i18n>Login</a>
		<app-button
			label="Sign Up"
			routerLink="/signup"
			type="primary"
			class="self-center py-2"
			i18n-label>
		</app-button>
	</nav>
</header>
