<header class="grid grid-flow-col py-5 px-20">
	<app-logo routerLink="/" class="text-black dark:text-white cursor-pointer"></app-logo>
	<nav
		class="hidden md:grid justify-self-end self-center grid-flow-col auto-cols-auto gap-10"
	>
		<a
			routerLink="/downloads"
			routerLinkActive="text-primary"
			class="self-center"
			i18n
		>Downloads</a
		>
		<a
			routerLink="/auth/login"
			class="self-center"
			i18n>Login</a>
		<a
			routerLink="/auth/signup"
			class="group self-center text-primary dark:text-primary-light font-bold flex flex-row gap-1 items-center">
			<span i18n>Signup</span>
			<app-icon icon="arrow-right" class="transform transition-transform group-hover:translate-x-2"
					  size="md"></app-icon>

		</a>
	</nav>
</header>
