<div class="p-5 grid grid-flow-row gap-5 max-w-4xl">
	<h1 i18n>Settings</h1>
	<form
		[formGroup]="form"
		(ngSubmit)="submit()"
		class="grid grid-flow-row gap-2 w-full max-w-xl px-10"
	>
		<h3 i18n>Edit personal information</h3>

		<app-input
			formControlName="username"
			type="text"
			label="Username"
			placeholder="Username"
			iconLeft="user"
			i18n-label
			i18n-placeholder
		></app-input>

		<app-input
			formControlName="email"
			type="email"
			iconLeft="email"
			placeholder="Email"
			label="Email"
			i18n-label
			i18n-placeholder
		></app-input>

		<app-select
			formControlName="lang"
			[options]="languages"
			iconLeft="language"
			label="Language"
			i18n-label
		></app-select>

		<div class="flex flex-row items-center gap-5 mt-2 justify-end">
			<div class="w-max">
				<app-message
					*ngIf="success"
					message="Personal information saved."
					type='success'
					i18n-message
				></app-message>

				<app-message
					*ngIf="error === 'request'"
					message="Error during request, please retry."
					type='error'
					i18n-message
				></app-message>

				<app-message
					*ngIf="error === 'internal'"
					message="Internal error, please retry later."
					type='error'
					i18n-message
				></app-message>
			</div>

			<app-button
				label="Save"
				type='primary'
				[loading]="!!(LOADING_KEY | swIsLoading | async)"
				[disabled]="!form.valid || !form.dirty"
				class="max-w-max justify-self-end"
				icon="save"
				i18n-label
			></app-button>
		</div>
	</form>
	<form
		[formGroup]="passwordForm"
		(ngSubmit)="submitPassword()"
		class="grid grid-flow-row gap-2 w-full max-w-xl px-10"
	>
		<h3 i18n>Modify password</h3>

		<app-input
			formControlName="oldPassword"
			type="password"
			label="Current password"
			placeholder="Current password"
			iconLeft="password"
			i18n-label
			i18n-placeholder
		></app-input>

		<app-input
			formControlName="newPassword"
			type="password"
			iconLeft="password"
			label="New password"
			placeholder="New password"
			i18n-label
			i18n-placeholder
		></app-input>

		<div class="flex flex-row items-center gap-5 mt-2 justify-end">
			<div class="w-max">
				<app-message
					*ngIf="successPassword"
					message="Password changed."
					type='success'
					i18n-message
				></app-message>

				<app-message
					*ngIf="passwordError === 'invalid'"
					message="Wrong password."
					type='error'
					i18n-message
				></app-message>

				<app-message
					*ngIf="passwordError === 'request'"
					message="Error during request, please retry."
					type='error'
					i18n-message
				></app-message>

				<app-message
					*ngIf="passwordError === 'internal'"
					message="Internal error, please retry later."
					type='error'
					i18n-message
				></app-message>
			</div>

			<app-button
				label="Save"
				type='primary'
				[loading]="!!(PASSWORD_LOADING_KEY | swIsLoading | async)"
				[disabled]="!passwordForm.valid"
				class="max-w-max justify-self-end"
				icon="save"
				i18n-label
			></app-button>
		</div>
	</form>
</div>
