<section
	class="h-full w-full grid grid-rows-1 grid-cols-none lg:grid-cols-login lg:grid-rows-none"
>
	<div class="relative items-center flex max-w-sm w-full px-5 mx-auto place-content-center">
		<form
			[formGroup]="form"
			(ngSubmit)="submit()"
			class="grid grid-flow-row gap-2 w-full justify-items-center lg:justify-self-end justify-self-center self-center">
			<h1 class="text-center" i18n>
				Welcome back
			</h1>

			<app-input
				formControlName="email"
				type="text"
				label="Email"
				iconLeft="email"
				placeholder="Email"
				class="w-full"
				i18n-label
				i18n-placeholder
			></app-input>

			<app-input
				formControlName="password"
				type="password"
				label="Password"
				placeholder="Password"
				iconLeft="password"
				class="w-full"
				i18n-label
				i18n-placeholder
			></app-input>

			<app-button
				label="Login"
				type="primary"
				[loading]="!!(LOADING_KEY | swIsLoading | async)"
				[disabled]="!form.valid"
				class="mt-4"
				i18n-label
			></app-button>

			<div class="h-10 w-full">
				<app-message
					*ngIf="error === 'email'"
					message="Invalid Email"
					type='error'
					i18n-message
				></app-message>

				<app-message
					*ngIf="error === 'password'"
					message="Invalid password"
					type='error'
					i18n-message
				></app-message>

				<app-message
					*ngIf="error === 'request'"
					message="Error during request, please retry."
					type='error'
					i18n-message
				></app-message>

				<app-message
					*ngIf="error === 'internal'"
					message="Internal error, please retry later."
					type='error'
					i18n-message
				></app-message>
			</div>
		</form>

		<p class="absolute text-center bottom-5 inset-x-0" i18n>
			No account ?
			<a routerLink="/auth/signup"
			>Sign Up</a
			>
		</p>
	</div>

	<img
		src="./assets/images/login.svg"
		alt="An illustration for the login page which represents an astronaut on his rocket in the space."
		class="hidden justify-self-start self-center lg:block"
		i18n-alt
	/>
</section>
