<div class="p-5 grid grid-flow-row gap-5">
	<h1>New Project</h1>
	<form
		[formGroup]="form"
		(ngSubmit)="submit()"
		class="grid grid-flow-row gap-2 w-6/12 px-10"
	>

		<div class="flex flex-row items-center gap-5 w-full">
			<img
				src="https://avatars.dicebear.com/api/identicon/{{ form.value.name }}.svg"
				alt="Icon with colored squares"
				class="w-16 h-16 max-w-none rounded-sm bg-white self-center">

			<app-input
				formControlName="name"
				type="text"
				label="Name"
				placeholder="Name"
				class="w-full"
				i18n-label
			></app-input>
		</div>

		<app-textarea
			formControlName="description"
			label="Description"
			placeholder="Optional description"
			i18n-label
		></app-textarea>


		<div class="flex flex-row items-center gap-5 mt-2 justify-end">
			<div class="w-max">
				<app-message
					*ngIf="success"
					message="Project created."
					type='success'
					i18n-message
				></app-message>

				<app-message
					*ngIf="error === 'request'"
					message="Error during request, please retry."
					type='error'
					i18n-message
				></app-message>

				<app-message
					*ngIf="error === 'internal'"
					message="Internal error, please retry later."
					type='error'
					i18n-message
				></app-message>
			</div>

			<app-button
				label="Create"
				type='primary'
				[loading]="!!(LOADING_KEY | swIsLoading | async)"
				[disabled]="!form.valid"
				class="max-w-max justify-self-end"
				icon="save"
				i18n-label
			></app-button>
		</div>
	</form>
</div>
