<div class="p-5 grid grid-flow-row gap-5">
	<h1>Projects</h1>
	<div class="grid grid-flow-col items-center w-full gap-2 px-3">
		<!--		App search-->
		<app-input class="w-full" placeholder="Search" type="text" iconLeft="search"
				   [formControl]="searchForm"></app-input>
		<div class="flex flex-row gap-2 items-center max-w-max justify-self-end cursor-pointer" (click)="switch()">
			<p>Sort</p>
			<app-icon [icon]="reverse ? 'sort-desc' : 'sort-asc'"></app-icon>
		</div>
	</div>

	<div>
		<app-loading *ngIf="(LOADING_KEY | swIsLoading | async); else elseBlock"></app-loading>

		<ng-template #elseBlock>
			<div *ngIf="(projects$ | async) as projects">
				<app-project-list [projects]="projects"></app-project-list>
			</div>
		</ng-template>
	</div>

</div>
