<div>
	<label [for]="ngControl.name">
		{{ label }}
	</label>
	<input type="checkbox" [id]="ngControl.name" [name]="ngControl.name">
</div>

<!--
<div class="relative flex flex-row items-center w-full">
	<div
		class="absolute z-10 left-0 pl-2 text-light"
		*ngIf="!!iconLeft"
	>
		<app-icon [icon]="iconLeft" size="md" color="inherit"></app-icon>
	</div>

	<input
		#input
		type="checkbox"
		[value]="value"
		(input)="onChange(input.value)"
		(blur)="onTouched()"
		[disabled]="disabled"
		[name]="ngControl.name"
		[id]="ngControl.name"
		[placeholder]="label"
		class="h-10 px-10 bg-light text rounded-sm w-full"
	/>

	<div
		class="absolute z-10 right-0 pl-2 text-light"
		*ngIf="!!iconRight"
	>
		<app-icon [icon]="iconRight" size="md" color="inherit"></app-icon>
	</div>
</div>
-->
