<div class="p-5 grid grid-flow-row gap-5 max-w-4xl">
	<h1>Settings</h1>
	<div class="px-5">
		<form
			[formGroup]="form"
			(ngSubmit)="submit()"
			class="grid grid-flow-row gap-2 w-full max-w-xl"
		>

			<div class="flex flex-row items-center gap-5 w-full">
				<img
					src="https://avatars.dicebear.com/api/identicon/{{ form.value.name }}.svg"
					alt="Icon with colored squares"
					class="w-16 h-16 max-w-none rounded-sm bg-white self-center">

				<app-input
					formControlName="name"
					type="text"
					label="Name"
					class="w-full"
					i18n-label
				></app-input>
			</div>

			<app-textarea
				formControlName="description"
				label="Description (optional)"
				i18n-label
			></app-textarea>

			<div class="flex flex-row items-center gap-5 justify-end">
				<div class="w-max">

					<app-message
						*ngIf="error === 'request'"
						message="Error during request, please retry."
						type='error'
						i18n-message
					></app-message>

					<app-message
						*ngIf="error === 'internal'"
						message="Internal error, please retry later."
						type='error'
						i18n-message
					></app-message>

					<app-message
						*ngIf="success"
						message="Project details saved."
						type='success'
						i18n-message
					></app-message>
				</div>

				<app-button
					label="Save"
					type='primary'
					[loading]="!!(LOADING_KEY | swIsLoading | async)"
					[disabled]="!form.valid || !form.dirty"
					class="max-w-max justify-self-end"
					i18n-label
				></app-button>
			</div>
		</form>

		<div class="flex flex-col w-full max-w-4xl gap-2">
			<h3>Authors</h3>

			<div class="rounded-sm w-full overflow-hidden">
				<table
					class="w-full table-fixed rounded-sm divide-y-2 divide-gray-lighter divide dark:divide-gray-darker">
					<thead class="bg-gray-lightest dark:bg-gray-darkest rounded-t-sm">
					<tr class="rounded-t-sm">
						<th scope="col"
							class="px-6 py-3 text-left text-xs font-medium text-gray dark:text-gray-dark uppercase tracking-wider rounded-tl-sm">
							Name
						</th>
						<th scope="col"
							class="px-6 py-3 text-left text-xs font-medium text-gray dark:text-gray-dark uppercase tracking-wider w-40">
							Status
						</th>
						<th scope="col" class="relative px-6 py-3 rounded-tr-sm w-40">
							<span class="sr-only">Remove</span>
						</th>
					</tr>
					</thead>
					<tbody class="">
					<tr *ngFor="let author of authors">
						<td class="px-6 py-2 whitespace-nowrap">
							<h4 class="font-medium text-black dark:text-white">
								{{ author.user.username }}
							</h4>
							<p class="text-gray-light dark:text-gray-dark">
								{{ author.user.email }}
							</p>
						</td>
						<td class="px-6 py-2 whitespace-nowrap">
							<div
								class="text-sm flex py-1 px-2 w-max rounded-sm flex-row items-center justify-center gap-1"
								[ngClass]="{'bg-warning-light dark:bg-warning text-warning dark:text-warning-light': author.pending,
							 'bg-success-light dark:bg-success text-success dark:text-success-light': !author.pending}">
								<p *ngIf="author.pending"
								   class="text-xs font-bold text-warning-dark dark:text-warning-light">Pending</p>
								<app-icon *ngIf="author.pending" icon="loading" size="xs"></app-icon>
								<p *ngIf="!author.pending"
								   class="text-xs font-bold text-success-dark dark:text-success-light">Accepted</p>
								<app-icon *ngIf="!author.pending" icon="success"></app-icon>
							</div>
						</td>
						<td class="px-6 py-2 whitespace-nowrap text-right text-sm font-medium">
							<a (click)="deleteAuthor(author.user.id)"
							   class="group  w-max text-error dark:text-error cursor-pointer flex flex-row gap-1 hover:bg-error-light dark:hover:bg-error-dark dark:hover:text-error-light py-1 px-2 rounded-sm">
								<app-icon icon="delete"></app-icon>
								<span
									class="group-hover:text-error-dark dark:group-hover:text-error-light">Remove</span>
							</a>
						</td>
					</tr>
					</tbody>
				</table>
			</div>

			<form class="grid grid-flow-row gap-2 max-w-xl self-center w-full" (ngSubmit)="getUserAndAddIt()"
				  [formGroup]="newAuthorForm">
				<app-input type="email" label="Author email" iconLeft="email"
						   formControlName="email"></app-input>
				<div class="flex flex-row items-center gap-5 justify-end">
					<app-message class="w-max" type="error" message="Invalid email"
								 *ngIf="authorError === 'email'"></app-message>

					<app-button class="max-w-max justify-self-end" label="Add" type="primary" icon="plus"
								[loading]="!!(AUTHOR_LOADING_KEY | swIsLoading | async)"
								[disabled]="!newAuthorForm.valid"></app-button>
				</div>
			</form>

		</div>
	</div>

</div>
