<div class="grid grid-cols-3 items-center divide-x-2">
	<div class="grid grid-flow-col auto-cols-max grid-rows-2 gap-x-2">
		<img
			src="https://avatars.dicebear.com/api/identicon/{{ project.name }}.svg"
			alt="Icon with colored squares"
			class="w-10 h-10 max-w-none row-span-2 auto-cols-min rounded-sm bg-white self-center">
		<a class="self-end" [routerLink]="['/app/project', project.id]">{{ project.name }}</a>
		<p class="self-start">{{ project.description }}</p>
	</div>
	<div class="flex flex-row-reverse justify-end pl-2">
		<a *ngFor="let author of project.author" [routerLink]="['/app/user', author.id]"
		   class="rounded-full bg-white w-8 h-8 max-x-none mr-[-.75em] border-white border-2"><img
			src="https://avatars.dicebear.com/api/identicon/{{ author.username }}.svg"
			alt="Icon with colored squares" class="rounded-full"></a>
	</div>
	<div class="pl-2">
		<p>Last edit {{ project.lastEdit.createAt | date }} by <a
			[routerLink]="['/app/user', project.lastEdit.author.id]">{{ project.lastEdit.author.username }}</a></p>
	</div>
</div>
