<div
	class="flex flex-row gap-2 items-center hover:bg-gray-lightest dark:hover:bg-gray-darkest p-1 rounded-r-sm"
	[ngClass]="{ 'bg-gray-lightest dark:bg-gray-darkest': this.file.selected }"
	(click)="clicked()">
	<app-icon *ngIf="file.folder" icon="chevron-right" class="transform transition-transform"
			  [ngClass]="{ 'rotate-90': file.open }"></app-icon>
	<app-icon [icon]="icon"></app-icon>
	<input class="text-black bg-transparent w-full dark:text-white" #input [readOnly]="!file.edit"
		   [(ngModel)]="file.name">
</div>


<div class="pl-5" *ngIf="file.children && file.open">
	<app-node *ngFor="let child of file.children" [parent]="child.folder ? child : file" [file]="child" (fileSelect)="fileSelect.emit($event)"></app-node>
</div>
