<div class="grid grid-flow-col gap-1 w-44 px-3 py-2">
	<app-icon icon="file-add-fill" (click)="onAddFile()"></app-icon>
	<app-icon icon="folder-add-fill" (click)="onAddFolder()"></app-icon>
	<app-icon icon="edit-fill" (click)="onRename()"></app-icon>
	<app-icon icon="delete-bin-fill" (click)="onDelete()"></app-icon>
</div>

<div class="w-44">
	<app-node *ngFor="let file of files" [parent]="file.folder ? file : null" [file]="file" (fileSelect)="selectFile($event.file, $event.parent)"></app-node>
</div>
