<footer class="bg-gray-darkest flex flex-col md:flex-row gap-5 justify-between py-5 px-20">
	<div class="flex flex-col gap-2 items-center md:items-start text-white dark:text-white">
		<app-logo></app-logo>
		<p
			class="text-center md:text-left"
			i18n
		>
			Copyright &copy; 2021
			<a href="https://github.com/LopsemPyier" class="text-white dark:text-white">LopsemPyier</a>
		</p>
	</div>
	<div
		class="flex flex-col items-center gap-2 md:items-end"
	>
		<div class="flex flex-col gap-1 md:flex-row md:gap-10 items-center">
			<a routerLink="/downloads" class="text-white dark:text-white" i18n
			>Downloads</a>
			<a routerLink="/terms-of-service" class="text-white dark:text-white" i18n
			>Terms of Service</a>
			<a routerLink="/credits" class="text-white dark:text-white" i18n>Credits</a>
		</div>
		<div class="flex gap-2 flex-row md:gap-10 items-center">
			<a href="https://github.com/LopsemPyier/Comets" class="text-white dark:text-white" >
				<app-icon icon="logo-github" size="sm"></app-icon>
			</a>
			<a href="https://twitter.com" class="text-white dark:text-white" >
				<app-icon icon="logo-twitter" size="sm"></app-icon>
			</a>
		</div>
	</div>
</footer>
