<footer class="bg-gray-darkest grid grid-flow-row md:grid-flow-col py-5 px-20">
	<p
		class="justify-self-center md:justify-self-start text-center md:text-left"
		i18n
	>
		Copyright &copy; 2021
		<a href="https://github.com/LopsemPyier">LopsemPyier</a>
	</p>
	<div
		class="grid grid-flow-row md:grid-flow-col gap-2 md:gap-10 justify-self-center md:justify-self-end"
	>
		<a routerLink="/terms-of-service" class="place-self-center" i18n
		>Terms of Service
		</a>
		<a routerLink="/credits" class="place-self-center" i18n>Credits </a>
		<a href="https://github.com/LopsemPyier/app" class="place-self-center">
			<app-icon icon="github-fill" color="text"></app-icon>
		</a>
		<a href="https://twitter.com" class="place-self-center">
			<app-icon icon="twitter-fill" color="text"></app-icon>
		</a>
	</div>
</footer>
